[submodule "ebow"]
	path = ebow
	url = git@github.com:/Ghost-Zephyr/EnderBow.git
[submodule "eitems"]
	path = eitems
	url = git@github.com:/Ghost-Zephyr/EnderItems.git
[submodule "cess"]
	path = cess
	url = git@github.com:Ghost-Zephyr/CustomEssentials.git
[submodule "noperms"]
	path = noperms
	url = git@github.com:Ghost-Zephyr/noPermissions.git
