[submodule "ebow"]
	path = ebow
	url = https://github.com/Ghost-Zephyr/enderbow
[submodule "eitems"]
	path = eitems
	url = https://github.com/Ghost-Zephyr/enderitems
[submodule "cess"]
	path = cess
	url = git@github.com:Ghost-Zephyr/CustomEssentials.git
